body {
    background-color: blue;
}

#title, #score-board {
    color: white;
    text-align: center;
}

#game-section {
    background-color: black;
    margin: auto;
    height: 700px;
    width: 700px;
}

#snake {
    position: relative;
    height: 30px;
    width: 30px;
}

#apple {
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}



