body {
    background-color: blue;
}

#title, #score-board {
    color: white;
    text-align: center;
}

#game-section {
    position: relative;
    background-color: white;
    margin: auto;
    height: 630px;
    width: 630px;
}

.snake {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 5px;
    top: 5px;
    z-index: 1;
}

#apple {
    position: absolute;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    z-index: 0;
}